/*----------------------------------------------------------------------------------*/
/* 
/* * Custom Style Sheet for NightShade CTF App *
/*
/*   author: b0b
/*   version: 0.0-fuckIt
/*
------------------------------------------------------------------------------------*/
html {
	overflow-y: scroll; 
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	height: 100%;
	background-image: url('../img/pixel_weave.png')
}

.container {
	min-height: 100%;
	background-image: url('../img/vbar.png'), url('../img/vbar_inverted.png');
	background-color: white;
	background-position: left top, right top;
	background-repeat: repeat-y;
	padding: 0;
}

.row {
	
}

/*----------------------------------------------------------------------------------*/
/* `Page margins
------------------------------------------------------------------------------------*/
.colorbar-left {
	box-shadow: 10px 10px 10px 0px;
	position: absolute;
	left: 0;
	background-image: url('../img/pixel_weave.png');
	width: 20%;
	height: 100%;
}

.colorbar-right {
	box-shadow: 10px 10px 10px 20px;
	position: absolute;
	right: 0;
	background-image: url('../img/pixel_weave.png');
	width: 20%;
	height: 100%;
}


/*----------------------------------------------------------------------------------*/
/* `Contest Content Stuff
------------------------------------------------------------------------------------*/
.contest {

}

.contest.title {
	font-size: 20px;
	background-color: #222;
	border-radius: 6px;
	margin-bottom: 5px;
	padding: 5px;
}

.contest.description {

}

.line-spacer {
	margin: 20px auto;
	background-color: black;
	height: 2px;
}

/*----------------------------------------------------------------------------------*/
/* `Modal Stuff
------------------------------------------------------------------------------------*/
.modal {
    bottom: 0;
    display: none;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1500;
}

.modal-header {
	color: white;
	border-radius: 6px 6px 0 0;
	background-color: #222;
}

.modal-footer {
	color: white;
	border-radius: 0 0 6px 6px;
	background-color: #222;
}

.modal-content {
	background-image: url('../img/pixel_weave.png')
}


/*----------------------------------------------------------------------------------*/
/* `Titlebar Stuff
------------------------------------------------------------------------------------*/
@font-face {
	font-family: pennStation;
	src: url("../fonts/Pennstat.ttf");
}

.titlebar-menu {
	background-color: #222;
	height: 70px;
	font-size: 17px;
	margin-bottom: 150px;
}

.titlebar-menu-tab {
	position: relative;
	background-color: white;
	width: 60px;
	height: 50%;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}

.titlebar-menu-inner-tab {
}

/* `Titlebar Logo Stuff < Navbar Stuff
-----------------------------------------------*/
.titlebar-logo {
	font-family: pennStation;
	text-align: center;
	color: white;
	position: absolute;
	height: 200px;
	width: 500px;
	padding-top: 40px;
	background-color: #222;
	border-radius: 0 0 10px 0;
	z-index: 1;
}

.titlebar-logo:hover {
	background-color: #474747;
	color: white;
	text-decoration: none;
}

.titlebar-logo-title {
	font-size: 100px;
	line-height: 1;
}

.titlebar-logo-subtitle {
	font-family: 'Monospace';
	font-size: 25px;
	line-height: 1;
}
/*---------------------------------------------*/


/*----------------------------------------------------------------------------------*/
/* `User Auth Stuff
------------------------------------------------------------------------------------*/
.auth {
	text-align: center;
	float: right;
	height: 100%;
	width: 200px;
}

a#menulink {
	position: relative;
}

div.menutext {
	color: white;
	background-color: #222;
	padding-top: 20px;
	height: 100%;
	width: 100px;
}

div.menutext:hover {
	background-color: #474747;
}

div#username {
	background-color: white;
	color: black;
	float: left;
}

div#username:hover {
	background-color: rgb(214, 214, 214);
}

div#login {
	float: left;
}

div#register {
	float: right;
}

div#logout {
	float: right;
}

div.logout-text {
    padding-top: 100px;
    font-size: 18px;
    text-align: center;
}

.btn.btn-default.register {
	float: left;
}

.btn.btn-default.register a{
	text-decoration: none;
}