{% extends 'base.html' %}

{% block content %}

    {% for contest in contests %}
    <div class="contests-list col-md-8 col-md-offset-2">
		    <a class="challenge-main-title" href='{% url 'contest-view' contest.slug %}'>
		       <h2>{{ contest.title }}</h2>
		    </a>
        <div class="challenge-subtitle">
		      {{ contest.description | linebreaks }}
        </div>
		  <div class="line-spacer"></div>
    </div>
    {% empty %}
        <div class="contest-missing">
            No contests are currently active. Please check back.
        </div>
    {% endfor %}

{% endblock %}